Repository MasakiMisawa/manage-sts-authorized-info: changes, and which lint-staged commands are due for each by the changed paths.
All: git secrets --scan, black, prettier --write

.lintstagedrc:

{
  "*": [
    "git secrets --scan"
  ],
  "*.py": [
    "black",
    "git add"
  ],
  "*.{yml,yaml,json,md}": [
    "prettier --write",
    "git add"
  ]
}

move setup-config.yaml
  .gitignore
  .huskyrc
  .lintstagedrc
  config/setup-config.yaml
  package.json
  yarn.lock
Due: git secrets --scan, prettier --write

add test for setup.py
  tests/__init__.py
  tests/test_setup.py
Due: git secrets --scan, black

add buildspec.yml
  buildspec.yml
Due: git secrets --scan, prettier --write

write test description for README.md
  README.md
Due: git secrets --scan, prettier --write

WIP write README.md
  README.md
Due: git secrets --scan, prettier --write

write contributing.
  .github/CONTRIBUTING.md
  README.md
Due: git secrets --scan, prettier --write

write pr template.
  .github/PULL_REQUEST_TEMPLATE.md
Due: git secrets --scan, prettier --write

write issue template.
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/task.md
Due: git secrets --scan, prettier --write

fix new issue link.
  .github/CONTRIBUTING.md
Due: git secrets --scan, prettier --write

fix new issues link to absolute pass.
  .github/CONTRIBUTING.md
Due: git secrets --scan, prettier --write

fix typo.
  .github/ISSUE_TEMPLATE/task.md
Due: git secrets --scan, prettier --write

added README.md
  .github/CONTRIBUTING.md
  README.md
Due: git secrets --scan, prettier --write

create register_sts_assumed_role template file.
  README.md
  config/setup-config.yaml
  template/register_sts_assumed_role.tmpl
Due: git secrets --scan, prettier --write

WIP create setup.py and test
  .gitignore
  setup.py
  tests/test_setup.py
Due: git secrets --scan, black

WIP create function string and backup.
  setup.py
  tests/test_setup.py
Due: git secrets --scan, black

create register_sts_assumed_role install script.
  setup.py
  tests/test_setup.py
Due: git secrets --scan, black

create setup_register_sts_assumed_role test.
  setup.py
  tests/test_setup.py
Due: git secrets --scan, black

add login shell not found case.
  setup.py
  tests/test_setup.py
Due: git secrets --scan, black

add display source command guide.
  setup.py
  tests/test_setup.py
Due: git secrets --scan, black

fix environ SHELL not exist case.
  tests/test_setup.py
Due: git secrets --scan, black

fix UnboundLocalError of test.
  tests/test_setup.py
Due: git secrets --scan, black

fix zsh read bug.
  setup.py
  template/register_sts_assumed_role.bash.tmpl
  template/register_sts_assumed_role.zsh.tmpl
  tests/test_setup.py
Due: git secrets --scan, black

fix bash echo lf.
  template/register_sts_assumed_role.bash.tmpl
Due: git secrets --scan

fix echo option c to e
  template/register_sts_assumed_role.bash.tmpl
Due: git secrets --scan

write install config description to README
  README.md
Due: git secrets --scan, prettier --write

fix blank line.
  README.md
Due: git secrets --scan, prettier --write

fix typo.
  README.md
Due: git secrets --scan, prettier --write

fix link to setup-config.yaml
  README.md
Due: git secrets --scan, prettier --write

add pip install parameterized to buildspec.yml
  buildspec.yml
Due: git secrets --scan, prettier --write

refactoring setup.py and test_setup.py
  setup.py
  tests/config/setup-config.yaml
  tests/template/register_sts_assumed_role.test.tmpl
  tests/test_setup.py
Due: git secrets --scan, black, prettier --write

add dependabot config.yml
  .dependabot/config.yml
Due: git secrets --scan, prettier --write

setting dependabot config.
  .dependabot/config.yml
Due: git secrets --scan, prettier --write

add PyYAML import setting to README.md.
  README.md
Due: git secrets --scan, prettier --write

add parameterized import setting to README.md
  README.md
Due: git secrets --scan, prettier --write

write makefile.
  Makefile
  README.md
Due: git secrets --scan, prettier --write

update ci python version.
  buildspec.yml
Due: git secrets --scan, prettier --write
